*,
*:before,
*:after{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@font-face {
  font-family: PingFang;
  src: url(../font/PingFang.ttf);
}
html,body{
  width: 100%;
  height: 100%;
  font-family: PingFang, 华文黑体, sans-serif;
}
html {
  font-size : 20px;
}
// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575px) {
  html{
  }
  .section.one{
    background: #323091;
    header{
      .navbar-header{
        margin-right: -15px;
        margin-left: -15px;
        height: 2.5rem;
        display: block;
        border-bottom: 1px solid #6c6ba9;
        overflow: hidden;
        button{
          width: 1.8rem;
          height: 1.8rem;
          position: relative;
          float: right;
          padding: 8px 7px;
          margin-top: .4rem;
          margin-right: 1rem;
          margin-bottom: 8px;
          background-color: transparent;
          background-image: none;
          border: 1px solid #f3f3f3;
          border-radius: 4px;
          cursor: pointer;
          .sr-only {
            position: absolute;
            width: 1px;
            height: 1px;
            padding: 0;
            margin: -1px;
            overflow: hidden;
            clip: rect(0, 0, 0, 0);
            border: 0;
          }
          .icon-bar {
            display: block;
            width: 100%;
            height: 2px;
            border-radius: 1px;
            background-color: #fff;
            margin: .17rem 0;
          }
        }
        .navbar-brand{
          background-image: url(../images/logo.png);
          height: 2.5rem;
          width: 2.5rem;
          display: inline-block;
          background-size: auto 100%;
          background-repeat: no-repeat;
          margin-left: 1rem;
          margin-top: .3rem;
        }
      }
      ul{
        width: 100%;
        display: block;
        height: 0;
        overflow: hidden;
        &.active{
          height: auto;
        }
        li{
          width: 100%;
          height: 2.5rem;
          font-size: 1.2rem;
          padding-left: 1rem;
          line-height: 2.5rem;
          background-color: #1e1c6d;
          z-index: 416;
          cursor: pointer;
          color: white;
          &>div{
            display: inline-block;
            font-size: 1.3rem;
          }
          &.logo{
            display: none;
          }
        }
      }
    }
    .wei{
      position: absolute;
      margin: 0 auto;
      width: 27rem;
      height: 17rem;
      bottom: 1rem;
      left: -3rem;
      right: 0;
      transform: scale(.6);
    }
  }
  .section.four{
    .container{
      overflow: hidden;
      position: relative;
      ul{
        width: 100%;
        height: 100%;
        white-space:nowrap;
        transition: all 1s ease;
        position: absolute;
        left: 0;
        li{
          list-style: none;
          display: inline-block;
          width: 100%;
          height: 100%;
          .designer{
            width: 7.7rem;
            height: 14rem;
            margin: 1.5rem auto 0 auto;
            &>div{
              margin: 0 auto;
              text-align: center;
              color: white;
            }
            .avatar{
              background-image: url(../images/d_face.png);
              //width: 308px;
              //height: 308px;
              width: 7.7rem;
              height: 7.7rem;
              background-size: auto 100%;
            }
            .line{
              background-image: url(../images/d_line_w.png);
              width: 217px;
              height: 56px;
            }
            .name{
              font-size: .6rem;
            }
            .position{
              font-size: .6rem;
            }
            .info{
              font-size: .45rem;
              &:first-child{
                margin-top: 3rem;
              }
            }
          }
          &:nth-child(2) *{
            color: #1E235D !important;
          }
        }
      }
      .control{
        background-image: url(../images/d_prev.png);
        width: 100px;
        height: 141px;
        position: fixed;
        bottom: 1rem;
        left: 62%;
        transition: all .5s ease;
        &:hover{
          left: 61%;
        }
      }
    }

  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px)/* and (max-width: 767px)*/ {
  html{
  }
  .section.one{
    header{
      background: transparent;
      color: white;
      height: 100px;
      padding-top: 16px;
      .navbar-header{
        display: none;
      }
      .menu-nav{
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
        height: 100%;
        width: 60% ;
        li{
          list-style: none;
          cursor: pointer;
          height: auto;
          &.menu-item{
            //width: 120px;
            //height: 100px;
            font-size: 12px;
            //padding: 10px 60px;
            position: relative;
            line-height: .5rem;
            &:before{
              content: '';
              position: absolute;
              background-image: url(../images/a_line.png);
              width: 26px;
              height: 54px;
              top: -32px;
              left: -20px;
              background-size: 100% 100%;
            }
            &>div{
              font-size: 13px;
              display: block;
            }
          }
          &.logo{
            display: block;
            height: 3.6rem;
            &>img{
              width: 92px;
              //height: 100% !important;
            }
          }
        }
      }
    }
    //.wei{
    //  bottom: 1rem !important;
    //}
    .wei{
      position: absolute;
      margin: 0 auto;
      width: 27rem;
      height: 17rem;
      bottom: 6rem;
      left: 0;
      right: 0;
    }
  }
  .section.four{
    .container{
      overflow: hidden;
      ul{
        width: 100%;
        height: 100%;
        white-space:nowrap;
        transition: all 1s ease;
        position: absolute;
        left: 0;
        li{
          list-style: none;
          display: inline-block;
          width: 60%;
          height: 100%;
          .designer{
            width: 7.7rem;
            height: 14rem;
            margin: 1.5rem auto 0 auto;
            &>div{
              margin: 0 auto;
              text-align: center;
              color: white;
            }
            .avatar{
              background-image: url(../images/d_face.png);
              //width: 308px;
              //height: 308px;
              width: 7.7rem;
              height: 7.7rem;
              background-size: auto 100%;
            }
            .line{
              background-image: url(../images/d_line_w.png);
              width: 217px;
              height: 56px;
            }
            .name{
              font-size: .6rem;
            }
            .position{
              font-size: .6rem;
            }
            .info{
              font-size: .45rem;
              &:first-child{
                margin-top: 3rem;
              }
            }
          }
          &:nth-child(2) *{
            color: #1E235D !important;
          }
        }
      }
      .control{
        background-image: url(../images/d_prev.png);
        width: 100px;
        height: 141px;
        position: absolute;
        bottom: 1rem;
        left: 62%;
        transition: all .5s ease;
        &:hover{
          left: 61%;
        }
      }
    }

  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991px) {
  html{
    font-size: 30px;
  }
  .section.one{
    .wei{
      bottom: 1rem;
      left: -1rem;
      transform: scale(.8);
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199px) {
  html{
    font-size: 35px;
  }
  .section.one{
    .wei{
      bottom: 3rem !important;
      left: -2rem;
      transform: scale(0.9);
    }
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  html{
    font-size: 40px !important;
  }
  .section.one{
    .wei{
      bottom: 1rem !important;
    }
    .navbar-header{
      display: none !important;
    }
  }
}
.section{
  width: 100%;
  height: 100%;
}

.section{
  position: relative;
  .tableCell{
    vertical-align: top;
  }
}
.section .container{
  width: 100%;
  height: 100%;
}
.section.one{
  background: #323091;
/*  .navbar-header{
    margin-right: -15px;
    margin-left: -15px;
    height: 3.5rem;
    display: block;
    button{
      width: 2.6rem;
      height: 2.6rem;
      position: relative;
      float: right;
      padding: 9px 10px;
      margin-top: .8rem;
      margin-right: 1rem;
      margin-bottom: 8px;
      background-color: transparent;
      background-image: none;
      border: 1px solid #f3f3f3;
      border-radius: 4px;
      cursor: pointer;
      .sr-only {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        border: 0;
      }
      .icon-bar {
        display: block;
        width: 100%;
        height: 4px;
        border-radius: 1px;
        background-color: #fff;
        margin: 12px 0;
      }
    }
    .navbar-brand{
      background-image: url(../images/logo.png);
      height: 3.5rem;
      width: 3.5rem;
      display: inline-block;
      background-size: auto 100%;
      background-repeat: no-repeat;
      margin-left: 1rem;
      margin-top: .8rem;
    }
  }
  ul{
    width: 100%;
    display: block;
    height: 0;
    overflow: hidden;
    &.active{
      height: auto;
    }
    li{
      width: 100%;
      height: 3.5rem;
      font-size: 1.4rem;
      padding-left: 1rem;
      line-height: 3.5rem;
      background-color: #323091;
      z-index: 416;
      cursor: pointer;
      &>div{
        display: inline-block;
        font-size: 1.6rem;
      }
      &.logo{
        display: none;
      }
    }
  }*/
}
.section.two{
  background: #FEFEFE;
}
.section.three{
  background: #FCCA35;
}
.section.five{
  background: #E7767A;
}
.piece{
  position: absolute;
  background-size: 100% 100%;
}

 .piece.bicycle{
  background-image: url(../images/a_bicycle.png);
   width: 932px;
   height: 668px;
   width: 23.3rem;
   height: 16.7rem;
}
 .piece.interest{
   background-image: url(../images/a_interest.png);
   width: 476px;
   height: 250px;
   width: 11.9rem;
   height: 6.25rem;
   position: absolute;
   right: 0;
   top: 62px;
 }
 .piece.me{
   background-image: url(../images/a_font.png);
   width: 389px;
   height: 143px;
   width: 9.725rem;
   height: 3.575rem;
   position: absolute;
   left: 0px;
   top: -80px;
 }
 .piece.cloud_01{
   background-image: url(../images/a_cloud_01.png);
   width: 6.2rem;
   height: 1.525rem;
   transform: scale(.5);
   top: 5rem;
   right: 10rem;

 }
.piece.cloud_02{
  background-image: url(../images/a_cloud_02.png);
  width: 4.25rem;
  height: 1.05rem;
  top: 5.25rem;
  left: -1rem;
}
.piece.cloud_03{
  background-image: url(../images/a_cloud_03.png);
  width: 7.625rem;
  height: 1.05rem;
  right: 0;
  top: 12rem;
}
//section 2
.title{
  margin: 2rem auto 0 auto;
  width: 12rem;
  text-align: center;
  color: #6564A8;
  .maintitle{
    font-size: 1.3rem;
  }
  .subtitle{
    font-size: 0.8rem;
  }
}
.tablet{
  position: relative;
  margin: 0 auto;
  width: 22.25rem;
  height: 11.7rem;
  bottom: -10%;
}
.piece.tablet_01{
  background-image: url(../images/b_computer_a.png);
  width: 14.75rem;
  height: 16.775rem;
  left: -3rem;
  bottom: -8rem;
}
.piece.tablet_02{
  background-image: url(../images/b_computer_b.png);
  width: 17.325rem;
  height: 19.825rem;
  left: 9rem;
}
//section 3
.piece.bg_01{
  background-image: url(../images/c_from_a.png);
  width: 31rem;
  height: 17.76rem;
  left: 0;
  bottom: 0;
}
.piece.bg_02{
  background-image: url(../images/c_from_b.png);
  width: 23.96rem;
  height: 15.96rem;
  right: 0;
  top: 0;
}
.piece.text{
  background-image: url(../images/c_font.png);
  width: 23.56rem;
  height: 14.95rem;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin:auto;
}

//section 4
.section.four{
  .container{
    overflow: hidden;
    ul{
      width: 100%;
      height: 100%;
      white-space:nowrap;
      transition: all 1s ease;
      position: absolute;
      left: 0;
      li{
        list-style: none;
        display: inline-block;
        height: 100%;
        .designer{
          width: 7.7rem;
          height: 14rem;
          //margin-right: 20rem;
          //float: right;
          margin-top: 1.5rem;
          &>div{
            margin: 0 auto;
            text-align: center;
            color: white;
          }
          .avatar{
            background-image: url(../images/d_face.png);
            //width: 308px;
            //height: 308px;
            width: 7.7rem;
            height: 7.7rem;
            background-size: auto 100%;
          }
          .line{
            background-image: url(../images/d_line_w.png);
            width: 217px;
            height: 56px;
            max-width: 100%;
          }
          .name{
            font-size: .6rem;
          }
          .position{
            font-size: .6rem;
          }
          .info{
            font-size: .45rem;
            &:first-child{
              margin-top: 3rem;
            }
          }
        }
        &:nth-child(2) *{
          color: #1E235D !important;
        }
      }
    }
    .control{
      background-image: url(../images/d_prev.png);
      width: 100px;
      height: 141px;
      position: absolute;
      bottom: 1rem;
      left: 62%;
      transition: all .5s ease;
      &:hover{
        left: 61%;
      }
    }
  }

}
//SECTION 5
.section.five .container{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: #FEFEFE;
  .title{
    color: inherit;
  }
  .code{
    background-image: url(../images/e_code.png);
    background-size: 100% 100%;
    //width: 461px;
    //height: 469px;
    width: 9.2rem;
    height: 9.4rem;
    margin: 0 auto;
  }
  .desc{
    margin: 0 auto;
    color: #FEFEFE;
    text-align: center;
    .desc_01{
      font-size: .8rem;
    }
    .desc_02{
      font-size: .9rem;
    }
  }
}